html {
    height: 100%;
    background-color: white;
}
body {
    height:fit-content;
    background-image: url(../images/layout.png);
    background-position: center;
    
}

h1{
    color: white;
}