html {
    height: 100%;
    background-color: white;
}
body {
    margin-left:0%;
    margin-right:0%;
    background-size: cover; 
    background-image: url(../images/layout.png);
    background-position:top; 
    
    /* background: linear-gradient(90deg,#dd3e54,black); */
    
    
}

h1{
    color: white;
}