
.Nav{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    top: 0;
    width: 100%;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

/* for laptop and tablet */
@media screen and (min-width: 480px) {
    li{
        padding: 0.5em;
        font-size: large;
        font-weight: bold;
        list-style: none;
        text-align: center;
        margin-left: 3rem;
    }
    
    a{
        color: white;
        text-decoration: none;
        padding: 3rem;
        
        
    }
    
    a:hover{
        color: brown;
    }
    
  }

/* for mobile */
@media screen and (max-width: 480px) {
    li{
        padding: 0.25em;
        font-size: small;
        font-weight: bold;
        list-style: none;
        text-align: center;
    }
    
    a{
        color: white;
        text-decoration: none;
        padding: 1rem;
        
    }
    
    a:hover{
        color: brown;
    }
    
  }




